.container {
	text-align: center;
	margin: auto;

}
.judulbuku {

}



li {
	color: white;
	text-decoration: none;
	font-family: times new roman;

}

li:hover {
	color: hotpink;
}
a {
	text-decoration: none;
}

body {
	background: url(../image/bg.png);
}
h1 {
	color: white;
}
h3{
  color: #FFFFFF;
}
.buttona {
  display: inline-block;
  border-radius: 30px;
  background-color: #5c5b5b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttona span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttona span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttona:hover span {
  padding-right: 25px;
}

.buttona:hover span:after {
  opacity: 1;
  right: 0;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 30px;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.buttonf {
  display: inline-block;
  padding: 15px 25px;
	font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(121, 121, 121);
  border: none;
  border-radius: 8px;
  box-shadow: 0 9px #999;
}

.buttonf:hover {background-color: #424242}

.buttonf:active {
  background-color: #0a0a0a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.form {
  text-align: center;
}